include LICENSE
include README.rst

recursive-exclude infoblox_netmri/tests/ *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude docs/ *
recursive-exclude infoblox_netmri/ *.tt2
